{% load thumbnail %}

{% thumbnail self.bgimage.file self.bgimage_width as im %}
  <section class="section-module {% if self.height == "fullscreen"%}full-viewport{% endif %}"
           style="{% if self.height != "fullscreen"%}height: {{self.height}}px; {% endif %} background-image: url({{ im.url }}); background-size: cover; background-position: center;">
{% empty %}
  <section class="section-module {% if self.height == "fullscreen"%}full-viewport{% endif %}"
           style="{% if self.height != "fullscreen"%}height: {{self.height}}px; {% endif %} ">
{% endthumbnail %}

  <div class="container">
    <h1>{{ self.title }}</h1>
  </div>

  {% for asset in self.assets %}
    <img class="module-asset" src="/media/{{ asset.image.file }}" style="{{ asset.css }}">
  {% endfor %}
</section>